@font-face {
    font-family: "Monument Extended";
    src: local("fonts/MonumentExtended-Regular.otf");
    src: local("fonts/MonumentExtended-Ultrabold.otf");
}

body {
    margin: 0;
    background: red;
    font-family: "Monument Extended";
}

a {
    font-size: 30px;
    font-weight: 400;
}

p {
    font-size: 24px;
    font-weight: 600;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

img {
    max-width: 220px;
}