@import url("https://fonts.cdnfonts.com/css/monument-extended");
header {
    display: flex;
    margin: auto;
    width: 200px;
}

body {
    font-family: Monument Extended, sans-serif;
    margin: 0;
    background: red;
    color: white;
    z-index: -5;
}

a {
    font-size: 28px;
    font-weight: 400;
}

p {
    font-size: 24px;
    font-weight: 800;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

img {
    max-width: 220px;
}

.perso img {
    display: flex;
    align-items: center;
}